{# app/Resources/views/base_landingpage.html.twig #}

<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{{ baseUrl }}/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		
		<!-- Montserrat Font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		
		<!-- Oswald Font -->
		<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet"> 
		
		<!-- Site CSS -->
		<link rel="stylesheet" type="text/css" href="{{ baseUrl }}/assets/css/style.css" />
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108446245-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-108446245-1');
		</script>
	</head>
	
	<body id="{% block bodyID %}{% endblock %}" class="{% block bodyClass %}{% endblock %}">
		<header class="va-item">
			<div id="esana_logo_container" class="col-sm-2 col-xs-4">
				<a href="http://www.esanahealth.com" target="_blank" onclick="dataLayer.push({'event': 'Link-to-Home'});"><img src="{{ baseUrl }}/assets/img/common/img-esana-logo.png" class="img-responsive" /></a>
			</div>
			
			<div id="esana_contact_container" class="col-sm-10 col-xs-8 pull-right text-right">
				<a href="tel:8882417489" class="esana_contact_phone" onclick="dataLayer.push({'event': 'Contact-Us-Phone-Number'});">888-241-7489</a>
				<a href="mailto:info@esanahealth.com" class="esana_contact_email" onclick="dataLayer.push({'event': 'Contact-Us-Email'});">Email Us</a>
			</div>
		</header>
		
		<!-- Body Content -->
		<section>
			{% block body %}{% endblock %}
		</section>
		
		<!-- jQuery -->
		<script type="text/javascript" src="{{ baseUrl }}/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap JS -->
		<script type="text/javascript" src="{{ baseUrl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<!-- Common JS -->
		<script type="text/javascript" src="{{ baseUrl }}/assets/js/common_landingpage.js"></script>
		
		<!--Start of Zendesk Chat Script-->
	    <script type="text/javascript">
	        window.$zopim || (function (d, s) {
	            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
	                d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
	                    z.set.
	                        _.push(o)
	                }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
	            $.src = '//v2.zopim.com/?G61FUlOFr0gQ7DOMXCNnnvDXwbKaElW0'; z.t = +new Date; $.
	                type = 'text/javascript'; e.parentNode.insertBefore($, e)
	        })(document, 'script');
	 
	    </script>
	    <script type="text/javascript">
	        $zopim(function () {
	            $zopim.livechat.addTags('eSana');
	            $zopim.livechat.prechatForm.setGreetings('Hello and Welcome eSana.  Let us know how we can assist you today.');
	            $zopim.livechat.hideAll();
	        });
	    </script>
	    <!--End of Zendesk Chat Script  -->
	
		<!-- Hotjar Tracking Code for http://www.esanahealth.com -->
		<script>
		(function(h,o,t,j,a,r){
		h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		h._hjSettings={hjid:660977,hjsv:6};
		a=o.getElementsByTagName('head')[0];
		r=o.createElement('script');r.async=1;
		r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
	</body>
</html>