{# app/Resources/views/base.html.twig #}

<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{ baseUrl }}/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	
	<!-- Montserrat Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<!-- Oswald Font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet"> 
	
	<!-- Site CSS -->
	<link rel="stylesheet" type="text/css" href="{{ baseUrl }}/assets/css/style.css" />
</head>

<body class="{% block bodyClass %}{% endblock %}">

	<article>
		<!-- Header Navigation -->
		<header>
			<nav id="main_navigation" class="navbar" role="navigation">
				<div id="navigation_bar_container" class="content_container va-item">
					<div class="va-item col-xs-12">
		                <div class="navbar-header">
		                    <button type="button" class="navbar-toggle" data-toggle="utility_nav" data-target="#utility_nav_slide_right">
		                        <span class="sr-only">Toggle navigation</span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                    </button>
		                </div>
		
		                <!-- eSana Logo -->
		                <div class="esana_logo no-gutter col-md-3 col-sm-4 col-xs-6">
		                    <a href="/" title="">
		                        <img src="{{ baseUrl }}/assets/img/common/img-esana-logo.png" alt="eSana" class="img-responsive" />
		                    </a>
		                </div>
		
		                <div id="utility_nav_slide_right" class="utility_nav pull-right text-right col-md-9 col-sm-8">
		                    <div id="nav_links" class="nav navbar-nav social_links">
								<ul>
									<li>
										<a href="/" {% if currentUrl == '/' %} class="active"{% endif %}>Home</a>
									</li>
									<li>
										<a href="/plans" {% if currentUrl == '/plans' %} class="active"{% endif %}>Plans</a>
									</li>
									<!-- <li>
										<a href="/savings" {% if currentUrl == '/savings' %} class="active"{% endif %}>Savings</a>
									</li> -->
									<li>
										<a href="/tools" {% if currentUrl == '/tools' or currentUrl == '/tools/savings-calculator' %} class="active"{% endif %}>Tools</a>
										
										<ul class="sub_nav_links">
											<li><a href="/tools/savings-calculator" {% if currentUrl == '/tools/savings-calculator' %} class="active"{% endif %}>Savings Calculator</a></li>
											<!-- <li><a href="">Plan Assessment</a></li> -->
											<li><a href="https://esana.savewithdiscounthealthcare.com/esana/providersearch" target="_blank">Provider Locator</a></li>
										</ul>
									</li>
									<li>
										<a href="/mission" {% if currentUrl == '/mission' %} class="active"{% endif %}>Mission</a>
									</li>
									<li>
										<a href="/contact" {% if currentUrl == '/contact' %} class="active"{% endif %}>Contact</a>
									</li>
								</ul>
		                    </div>
		                    
		                    <div class="nav_contact_number" class="">
		                        <span><a href="tel:1-888-241-7489">1-888-241-7489</a></span>
		                    </div>
		                </div>
					</div>
	            </div>
			</nav>
		</header>
		
		<!-- Body Content -->
		<section>
			{% block body %}{% endblock %}
		</section>
	
		<footer>
			<div class="content_container">
				<div class="clear">
					<div class="col-xs-12 no-gutter va-item">
						<div class="nav_contact_number col-xs-6 no-gutter">
	                        <span><a href="tel:1-888-241-7489">1-888-241-7489</a></span>
	                    </div>
	                    
	                    <!-- Social Links -->
	                    <div class="footer_social_links col-xs-6 va-item">
		                    <a href="" target="_blank">
			                    <img src="{{ baseUrl }}/assets/img/common/img-instagram-icon.png" alt="" class="img-responsive" />
		                    </a>
		                    <a href="" target="_blank">
			                    <img src="{{ baseUrl }}/assets/img/common/img-facebook-icon.png" alt="" class="img-responsive" />
		                    </a>
		                    <a href="" target="_blank">
			                    <img src="{{ baseUrl }}/assets/img/common/img-twitter-icon.png" alt="" class="img-responsive" />
		                    </a>
		                    <a href="" target="_blank">
			                    <img src="{{ baseUrl }}/assets/img/common/img-youtube-icon.png" alt="" class="img-responsive" />
		                    </a>
	                    </div>
					</div>
				</div>
				
				<div class="divider col-xs-12"></div>
				
				<div class="clear">
					<div class="col-xs-12 no-gutter va-item">
						<div class="esana_logo no-gutter col-md-3 col-sm-4 col-xs-12">
		                    <a href="/" title="">
		                        <img src="{{ baseUrl }}/assets/img/common/img-esana-logo.png" alt="eSana" class="img-responsive" />
		                    </a>
		                </div>
	                
						<div class="copyright_content va-item col-md-9 col-sm-8 col-xs-12">
							&copy; eSANA Health, LLC. All Rights Reserved
							
							<div class="copyright_content_links va-item">
								<a class="va-item" href="/privacy-policy">Privacy Policy</a>
								<!-- <a class="va-item" href="">Terms of Use</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
		<div class="tool_top_container"></div>
	</article>

	<!-- jQuery -->
	<script type="text/javascript" src="{{ baseUrl }}/bower_components/jquery/dist/jquery.min.js"></script>
	
	<!-- Bootstrap JS -->
	<script type="text/javascript" src="{{ baseUrl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- HomePage Custom Panel -->
	<script type="text/javascript" src="{{ baseUrl }}/assets/js/jquery.custom.panel.js"></script>
	
	<!--[if IE]><script type="text/javascript" src="{{ baseUrl }}/assets/js/excanvas.js"></script><![endif]-->
	
	<!-- jQuery Knob -->
	<script type="text/javascript" src="{{ baseUrl }}/assets/js/jquery.knob.min.js"></script>
	
	<!-- Common JS -->
	<script type="text/javascript" src="{{ baseUrl }}/assets/js/common.js"></script>
</body>

</html>