{# app/Resources/views/home.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block bodyClass %}home{% endblock %}

{% block body %}
	
	<div id="home_hero_container">
		<div class="content_container">
			<div class="row va-item">
				<div class="hero_left_content_container col-md-5 col-sm-6 col-xs-12">
					<div class="hero_panel_item">
						<h2>Join eSana today and start saving!</h2>
						<p>eSana members save an average of $600 per month for their entire household. See what you could be saving!</p>
						
						<a href="" class="slider_item_btn btn white">GET STARTED</a>
					</div>
					
					<div class="hero_panel_item">
						<h2>Telemedicine brings the care to you, 24/7</h2>
						<p>For only $25 per call, you can speak directly with a doctor or pharmacist for advice and prescriptions. Our providers are available 24 hours a day, 7 days a week via phone or email.</p>
						
						<a href="" class="slider_item_btn btn white">LEARN MORE</a>
					</div>
					
					<div class="hero_panel_item">
						<h2>Because they matter, take care.</h2>
						<p>A single eSana plan covers the whole household, whether or not you're related. Find the right plan to cover the needs of those you care about.</p>
						
						<a href="" class="slider_item_btn btn white">SIGN UP</a>
					</div>
					
					<div class="hero_panel_controls center_align"></div>
				</div>
				
				<div class="hero_right_container no-gutter center_align col-md-7 col-sm-6 col-xs-12">
					<div class="hero_panel_item">
						<div class="row">
							<div class="col-xs-4">
								<div class="plan_price_container price_text">
									<h3><sup>$</sup>24<sup>.95</sup></h3>
								</div>
								
								<h3>DentalPlus</h3>
							</div>
							
							<div class="col-xs-4">
								<div class="plan_price_container price_text">
									<h3><sup>$</sup>39<sup>.95</sup></h3>
								</div>
								
								<h3>DeluxePlus</h3>
							</div>
							
							<div class="col-xs-4">
								<div class="plan_price_container price_text">
									<h3><sup>$</sup>24<sup>.95</sup></h3>
								</div>
								
								<h3>MedPlus</h3>
							</div>
						</div>
						
						<img src="{{ baseUrl }}/assets/img/home/img-home-slider-esana-card.png" class="img-responsive" />
					</div>
					
					<div class="hero_panel_item">
						<img src="{{ baseUrl }}/assets/img/home/img-home-slider-girl.jpg" class="img-responsive" />
					</div>
					
					<div class="hero_panel_item">
						<img src="{{ baseUrl }}/assets/img/home/img-home-slider-family.jpg" class="img-responsive" />
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="help_you_save body_content_container">
		<div class="content_container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
					<h2>WE'RE HERE TO HELP YOU SAVE</h2>
					
					<p>eSana was founded as the new solution to an age-old problem - getting the quality care you need at a price you can afford. The price of premiums and co-pays are rising each year, but fewer services are actually being covered. This leaves too many Americans underinsured and uninsured. With eSana, you don't have to worry about the barriers put up by traditional insurance. Because eSana isn't insurance — it's a discount health care card. Our three discount plans are designed to cover the needs of your household, starting at as little as $24.95 per month. With eSana, you can choose a plan that lets you save on the services you use regularly. Imagine dental cleanings for only $32 or braces for just $2200. Your savings start with eSana.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="your_saving_plan body_content_container">
		<div class="content_container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
					<h1>YOUR SAVINGS PLAN</h1>
					
					<p>From doctor's visits to prescription medicines, eSana plans help you save on the care you need. Find the plan that best fits your needs by selecting one below to learn more.</p>
				</div>
				
				<div class="col-xs-12">
				
					<!-- MedPlus -->
					<div class="col-md-4 col-xs-12">
						<div class="plan_detail_info_container">
							<div class="plan_detail_price_container price_text">
								<h3><sup>$</sup>24<sup>.95</sup></h3>
							</div>
							
							<div class="plan_detail_title_container">
								<img src="{{ baseUrl }}/assets/img/home/img-icon-bandaid.jpg" class="img-responsive" />
								<h3>MedPlus</h3>
							</div>
							
							<div class="plan_detail_tagline_container">
								<p>Perfect for households looking to save on primary care services</p>
							</div>
							
							<div class="plan_detail_description_container">
								<ul>
									<li>+ 24/7 Telemedicine for $25/call</li>
									<li>+ Surgery Saver up to 66%</li>
									<li>+ Bill Negotiator</li>
									<li>+ Ancillary Services Discounts up to 70%</li>
									<li>+ Prescription Discounts up to 85%</li>
									<li>+ Healthcare Navigator</li>
								</ul>
								
								<div class="plan_detail_sign_up_container">
									<a href="" class="btn">SELECT</a>
								</div>
							</div>
						</div>
					</div>
					
					<!-- DentalPlus -->
					<div class="col-md-4 col-xs-12">
						<div class="plan_detail_info_container">
							<div class="plan_detail_price_container price_text">
								<h3><sup>$</sup>24<sup>.95</sup></h3>
							</div>
							
							<div class="plan_detail_title_container">
								<img src="{{ baseUrl }}/assets/img/home/img-icon-tooth.jpg" class="img-responsive" />
								<h3>DentalPlus</h3>
							</div>
							
							<div class="plan_detail_tagline_container">
								<p>For households who need additional services at a lower cost</p>
							</div>
							
							<div class="plan_detail_description_container">
								<ul>
									<li>+ Dental Discounts up to 75%</li>
									<li>+ Vision Discounts up to 60%</li>
									<li>+ Chiropractic Discounts up to 50%</li>
									<li>+ Prescription Discounts up to 85%</li>
									<li>+ Wellness Screenings</li>
								</ul>
								
								<div class="plan_detail_sign_up_container">
									<a href="" class="btn">SELECT</a>
								</div>
							</div>
						</div>
					</div>
					
					<!-- DeluxePlus -->
					<div class="col-md-4 col-xs-12">
						<div class="plan_detail_info_container">
							<div class="plan_detail_price_container price_text">
								<h3><sup>$</sup>39<sup>.95</sup></h3>
							</div>
							
							<div class="plan_detail_title_container">
								<img src="{{ baseUrl }}/assets/img/home/img-icon-clipboard.jpg" class="img-responsive" />
								<h3>DeluxePlus</h3>
							</div>
							
							<div class="plan_detail_tagline_container">
								<p>For the households looking for access to multiple services</p>
							</div>
							
							<div class="plan_detail_description_container">
								<ul>
									<li>+ Dental Discounts up to 75%</li>
									<li>+ Vision Discounts up to 60%</li>
									<li>+ Chiropractic Discounts up to 50%</li>
									<li>+ 24/7 Telemedicine for $25/call</li>
									<li>+ Prescription Discounts up to 85%</li>
									<li>+ Much More</li>
								</ul>
								
								<div class="plan_detail_sign_up_container">
									<a href="" class="btn">SELECT</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="body_btn_container center_align">
						<a href="" class="btn blue">MORE DETAILS</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tools_to_build_future body_content_container">
		<div class="content_container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
					<h1>TOOLS TO HELP BUILD A FUTURE</h1>
					
					<p>Our free tools make it easy to find providers, savings, and the perfect plan for your household.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="savings_calculator body_content_container">
		<div class="content_container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12">
					<div class="savings_calulator_container">
						<h3>Savings Calculator</h3>
						
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-5">
									<h4>Doctor Visits</h4>
									
									<div class="savings_dial_chart_container">
									
									</div>
								</div>
								
								<div class="col-xs-7">
									<p>How much does an average trip to the doctor cost for you?</p>
									
									<div class="cost_input_container">
										<input type="text" placeholder="$0.00" value="" /><a href="" class="saving_submit_btn"></a><!-- <input type="submit" value="" /> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
					<h2>SAVINGS CALCULATOR</h2>
					
					<p>With the savings calculator tool, you'll be able to see just how much money you can save when choosing eSana. Our system is designed to provide you with maximum savings.</p>
					
					<div class="body_btn_container center_align">
						<a href="" class="btn blue">TRY IT</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}